/* === Carrossel === */
.wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 120px;
  padding-bottom: 140px;
  padding-right: 120px;
  padding-top: 60px;
  z-index: 0;
}

.track {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 8px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.track::-webkit-scrollbar {
  display: none;
}

/* === Card === */
.card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 437px;
  width: 250px;
  background: #97c3d8;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}
.cardTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  transform: translateY(-20px);
  line-height: 100%;
  letter-spacing: 5%;
  text-transform: uppercase;
  padding-left: 5px;
}

.price {
  font-family: Nunito Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  text-align: center;
  color: #274553;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* === Imagem === */

.thumb {
  transform: translateY(-20px);
  width: 204px;
  height: 351px;
  object-fit: cover;
  display: block;
}

/* like  */
.likeBtnImg {
  position: absolute;
  top: 8px;
  left: 8px;
  right: auto;
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  box-shadow: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 2;
}

.likeBtnImg:hover {
  transform: scale(1.05);
}

/* === Setas === */
.navBtn {
  background: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  width: 20.37px;
  height: 35.47px;

  padding: 0;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  left: 23.08px;
}
.right {
  right: 23.08px;
}
