ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 20px 30px;
  background: #e7e6e7;
  font-family: Arial, sans-serif;
  color: #4E8098; 
}

.contato {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  
}

/* títulos */
.endereco h4,
.faleConosco h4 {
  font-size: 14px;
  color:#4E8098; 
  margin-bottom: 6px;
  padding: 0; 
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
   line-height: 100%;
  letter-spacing: 4%;

}


.endereco {
  margin-bottom: 20px;
  color:#274553 ;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5%;

}

.faleConosco {
  margin-bottom: 20px;
  color:#274553 ;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5%;

}

.redesSociais {
  display: flex;
  gap: 12px;
}

.redesSociais img {
  width: 25px;
  height: 25px;
  transition: transform 0.2s ease;
}

.redesSociais img:hover {
  transform: scale(1.1);
}

.logoFooter img{
  height: 200px;
}

.slogan {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff; 
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  font-style: Regular;
  font-size: 40.28px;
  line-height: 100%;
  letter-spacing: 0%;

}

.IFrame {
  width: 325px;  
  height: 240px;  
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.IFrame iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* mapa */
.copy {
  width: 100%;
  text-align: center;
  background-color: #3E677A; 
  color:#97C3D8 ;              
  font-size: 12px;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}


