*{
    padding: 0;
    margin: 0;
}
.banner {
  background-color: #72a7c1;
  position: relative;
  width: 100%;
  min-height: 320px;
  display: grid;
  place-items: center;
}

/* fundo da seção */
.fundo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.95;
}

/* bloco de texto e logo */
.conteudo {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 40px 16px;
  color: #1f3344;
}

.logo {
  width: 248.75px;
  height: 266px;
}

.titulo {
  font-family: Outfit;
  font-weight: 400;
  font-style: Regular;
  font-size: 63.63px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  margin-bottom: 10px;
  transform: translateY(-30px);
}

.subtitulo {
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Italic;
    font-size: 39px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.bannerPromocao img {
  display: block; 
  width: 100%;
  height: 410px;
  transform: translateY(-8px);
}
