.Regions {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.PijamaInfo {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.PijamaType {
  width: 140px;
  height: 140px;
}

.PijamaTypeIMG {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.Marca {
  height: 630px;
  background-color: rgba(62, 103, 122, 1);
  padding: 40px;
  color: rgba(252, 247, 248, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Marca h1 {
  font-size: 40px;
}

.Marca h3 {
  font-size: 24px;
}

.Marca h2 {
  font-size: 28px;
}

.Marca ol {
  list-style-type: disc;
  padding-left: 20px;
}

.Marca li {
  font-size: 24px;
}